aiofiles==0.6.0
aiohttp==3.6.3
aiohttp-swagger==1.0.15
async-lru==1.0.2
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
dill==0.3.3
distro==1.5.0
genie==21.1.1
genie.libs.clean==21.1
genie.libs.conf==21.1
genie.libs.filetransferutils==21.1
genie.libs.health==21.1
genie.libs.ops==21.1
genie.libs.parser==21.1
genie.libs.sdk==21.1.2
idna==2.10
importlib-metadata==3.4.0
Jinja2==2.11.3
jsonpickle==1.5.1
junit-xml==1.9
MarkupSafe==1.1.1
multidict==4.7.6
netaddr==0.8.0
pathspec==0.8.1
pkg-resources==0.0.0
ply==3.11
prettytable==2.0.0
psutil==5.8.0
pyaml==20.4.0
pyasn1==0.4.8
pyats==21.1
pyats.aereport==21.1
pyats.aetest==21.1
pyats.async==21.1
pyats.connections==21.1
pyats.datastructures==21.1
pyats.easypy==21.1
pyats.kleenex==21.1
pyats.log==21.1
pyats.reporter==21.1
pyats.results==21.1
pyats.tcl==21.1
pyats.topology==21.1
pyats.utils==21.1
pycryptodomex==3.9.9
pyftpdlib==1.5.6
pysmi==0.3.4
pysnmp==4.4.12
python-engineio==3.13.2
python-socketio==4.6.0
PyYAML==5.4.1
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
tftpy==0.8.0
tqdm==4.56.0
typing-extensions==3.7.4.3
unicon==21.1
unicon.plugins==21.1
urllib3==1.26.3
wcwidth==0.2.5
xmltodict==0.12.0
yamllint==1.26.0
yarl==1.5.1
zipp==3.4.0
